/* Must interact with the DOM of an HTML document. CSS is optional but highly encouraged at a basic level. */

.container {
    margin-top: 10%;
    text-align: center;
}

h1 {
    margin-bottom: 5%;
    font-size: 500%;
    color: #42548f;
}

h2 {
    margin-top: 3%;
    color: #42548f;
}

#filter-select-submit {
    font-size: 100%;
    margin-right: 10px;
    background-color: #a7bcff;
    color: #42548f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#randomButton {
    padding: 10px 20px;
    font-size: 155%;
    background-color: #a7bcff;
    color: #42548f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#randomButton:hover {
    background-color:#c0cfff;
    color: #5d6fac;
}

#searchButton {
    font-size: 155%;
    margin-right: 10px;
    background-color: #a7bcff;
    color: #42548f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#searchButton:hover {
    background-color:#c0cfff;
    color: #5d6fac;
}

#searchInput {
    padding-top: 10px;
    padding-right: 5%;
    font-size: 100%;
}

#recipeContainer {
    margin-top: 5%;
}